**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user
*.pfx


log4net.config
**/App.config
appSettings.config
connectionStrings.config

NuGet.exe
packages

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
AppPackages/
build/*
src/UpgradeLog.XML
src/UpgradeLog.htm
src/UpgradeLog2.XML
src/UpgradeLog2.htm
src/_UpgradeReport_Files/UpgradeReport.css
src/_UpgradeReport_Files/UpgradeReport.xslt
src/_UpgradeReport_Files/UpgradeReport_Error.png
src/_UpgradeReport_Files/UpgradeReport_Information.png
src/_UpgradeReport_Files/UpgradeReport_Success.png
src/_UpgradeReport_Files/UpgradeReport_Warning.png
src/*/XULRunner*