<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/sFlightLogo.png" height=30 width=41></a>
            </div>
            <div id="navbar-brand" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app.search">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> New search</a></li>
                    <li><a ui-sref="app.trackingList">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> Tracking List</a></li>
                    <li><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span>
                          Menu</a></li>
                     <li><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Flight Ticket Tracker</h1>
                    <p style="padding:10px;"></p>
                    <p>Good is good. Nothing more, nothing less!</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:0px;"></p>
                <img src="images/flightLogo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>
    