<div class="container" ng-controller="SearchController">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Search</h3>
            <hr>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <form class="form-horizontal" id="searchForm" name="searchForm" ng-submit="sendSearch()" novalidate>
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="checkbox col-sm-5 col-sm-offset-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="oneway" id="oneway" ng-model="search.oneway" value="false" ng-change="onewayClick(search.oneway)">
                                <strong>Oneway?</strong>
                            </label>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group" ng-class="{ 'has-error' : searchForm.from.$error.required && !searchForm.from.$pristine }">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="from" name="from" placeholder="From Where"
                                    ng-model="search.from" required>
                                <span ng-show="searchForm.from.$error.required && !searchForm.from.$pristine" class="help-block">From airport is required.</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{ 'has-error' : searchForm.to.$error.required && !searchForm.to.$pristine }">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="to" name="to" placeholder="To where"
                                    ng-model="search.to" required>
                                <span ng-show="searchForm.to.$error.required && !searchForm.to.$pristine" class="help-block">To airport is required.</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group" ng-class="{ 'has-error' : searchForm.fromDate.$error.required && !searchForm.fromDate.$pristine }">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fromDate" name="fromDate" placeholder="From Date"
                                    ng-model="search.fromDate">
                                <span ng-show=" searchForm.fromDate.$error.required && !searchForm.fromDate.$pristine" class="help-block">From Date is required.</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{ 'has-error' : searchForm.returnDate.$error.required && !searchForm.returnDate.$pristine }">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="returnDate" name="returnDate" placeholder="Return Date"
                                    ng-model="search.returnDate" ng-disabled="search.oneway" ng-required="!search.oneway">
                                <span ng-show=" searchForm.returnDate.$error.required && !searchForm.returnDate.$pristine" class="help-block">Return Date is required.</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">Send</button>
                        </div>
                    </td>
                </tr>
            </table>

        </form>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h2>Search Result</h2>
            <div class="col-xs-12" ng-if="showMessage">
                <h3>{{message}}</h3>
            </div>
            <div id="result"></div>
            <div class="table-responsive">
                <div ng-show="loading">
                    <img id="loadingImg" src="images/loading.gif" />
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Price
                        </th>
                        <th>Departure
                        </th>
                        <th>Arrival
                        </th>
                        <th>Duration
                        </th>
                        
                        <th ng-show="!search.oneway">Return Departure
                        </th>
                        <th ng-show="!search.oneway">Return Arrival
                        </th>
                        <th ng-show="!search.oneway">Return Duration
                        </th>
                        
                        <th>Airline
                        </th>                        
                        <th>Track?
                        </th>
                    </tr>
                    <tr ng-repeat="result in results ">
                        <td>{{result.price}}
                        </td>                        
                        <td>{{result.departure}}
                        </td>
                        <td>{{result.arrival}}
                        </td>
                        <td>{{result.duration}}
                        </td>

                        <td ng-show="!search.oneway">{{result.returnDeparture}}
                        </td>
                        <td ng-show="!search.oneway">{{result.returnArrival}}
                        </td>
                        <td ng-show="!search.oneway">{{result.returnDuration}}
                        </td>

                        <td>{{result.airline}}
                        </td>                        
                        <td>
                            <input type="checkbox" name="track" ng-show="!result.tracked" />
                            <span ng-show="result.tracked">Already tracked</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding: 20px;"></p>
        </div>
    </div>



    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding: 20px;"></p>
            <h3 align="center">What's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="media-left media-middle">
                <a>
                    <img class="media-object img-thumbnail"
                        ng-src="{{promotion.image}}" alt="">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{promotion.name}}
                           
                    <span class="badge">{{promotion.price | currency}}
                    </span>
                </h2>
                <label class="col-sm-2 control-label">{{promotion.label}}</label>
                <p>{{promotion.description}}</p>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding: 20px;"></p>
            <h3 align="center">Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media-left media-middle">
                <a>
                    <img class="media-object img-thumbnail"
                        ng-src="{{chef.image}}" alt="">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{chef.name}}
                           
                    <span class="badge">{{chef.abbr}}
                    </span>
                </h2>
                <label class="col-sm-2 control-label">{{chef.designation}}</label>
                <p>{{chef.description}}</p>
            </div>
        </div>
    </div>
</div>
